
/*contacto*/

.vale-con{
    font-weight: bold;
    color: #d32fad;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300px;
    

}

.imagen-1{
    padding: 4px;
    margin: 10px;
    width: 350px;
    height: 250px;
}
.imagen-2{
    padding: 4px;
    margin: 10px;
    width: 350px;
    height: 250;
}
.imagen-3{
    padding: 4px;
    margin: 10px;
    width: 350px;
    height: 250px;
}
.con-im{
    display: flex;
    justify-content: center;
}

.des-p{
    justify-content: center;
}
.vale-fo{
    background-color: #b56da9;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    width:  1100px;
    height: 100px;
    
}
.fo-lo{
    
    margin: 2px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
}
   
/* index */


.vale-nav-link{
    background-color: #7b1b6b;
    font-display: 70px;
    margin-left: 100px;
    font-family:monospace;
    color: red;
    
}


.vale-logo{
    height: 80px;
    width: 100px;
}

.tarjetas img {
    width: 65px;
}
.vale-carrito{
    background-color: rgb(101, 39, 104);
}
.card-vale{
    background-color: #bd73a7;
}
.val-car{
    background-color: rgb(33, 98, 176);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 6px ;
}
.valer-car{
    background-color: #8e1b80;
    flex-direction: initial;
}
.vale-boton{
    background-color: #6e0893;
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
  

}
.vale-carru{
    
    height: 500px;
    margin-right: 20px;
    font-family: cursive;
    text-align: center;
}

.val-b{
    color: rgb(2, 12, 4);
    margin-top: unset;
    align-items: center;



}
.tarj-val{
    background-color: #8d1981;
    
}


.vale-logo{
    height: 80px;
    width: 100px;
}

.vale-nav{
    background-color: #7b1b6b;
    font-family:fantasy;
    height: 80px;
    font-weight: lighter;
    font-size: 30px;


}
.ca-b{
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(222, 223, 218, 0.637);
    font-size: 20px;
}

.im-v{
    background-color:rgb(250, 165, 207);
    width: 3px;
 
}
.form-vale{
    background-color: #bd73a7;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin: right 50px;
    max-width: inherit;
}
.val-b{
    background-color: rgb(187, 30, 100);
}
.val-v{
    margin-top: 20px;
    font-weight: 20px;
}  
.moi-b{
    font-weight: 100;
}
.val-ani{
    animation-duration: inherit;
    animation-iteration-count: initial;


}

/* nosotros.html */

.titulo-destacado span {
    color: rgb(197, 40, 171);
}

.nosotros-iconos {
    margin: 3em 0;
}

.nosotros-iconos i {
    margin-right: 0.8em;
    padding: 0;
    color: #87e3f1;
    box-shadow: 0 0 3px rgba(197, 147, 147, 0.2);
    justify-content: center;
}

.nosotros-iconos li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nosotros-iconos i:hover {
    color: crimson;
    transition: all .6s;
}

.nosotros-iconos i.fb:hover {
    color: #1877f2;
    transition: all .6s;
}

.val-nos{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    color: #8e1b32;
    justify-content: center;
    height: 20px;

}
.titulo-destacado{
    font-weight: 30px;
    color: #b307ab;

}

.h3{
    color: #8e1b32;
    font-weight: 4px;
   
}
